<div id="<%= dom_id grade %>">
  <p>
    <strong>Student:</strong>
    <%= grade.student_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= grade.teacher_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= grade.course_id %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= grade.grade %>
  </p>

  <p>
    <strong>Grading date:</strong>
    <%= grade.grading_date %>
  </p>

  <p>
    <strong>Is archived:</strong>
    <%= grade.is_archived %>
  </p>

</div>
