<div id="<%= dom_id quarter %>">
  <p>
    <strong>Name:</strong>
    <%= quarter.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= quarter.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= quarter.end_date %>
  </p>

  <p>
    <strong>Is archived:</strong>
    <%= quarter.is_archived %>
  </p>
</div> 