<%= form_with(model: class_type, class: "needs-validation", data: { turbo: false }) do |form| %>
  <% if class_type.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(class_type.errors.count, "error") %> prohibited this class type from being saved:</h4>
      <ul class="mb-0">
        <% class_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-6">
      <div class="form-floating">
        <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
        <%= form.label :name %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating">
        <%= form.text_area :description, class: "form-control", placeholder: "Description", style: "height: 100px" %>
        <%= form.label :description %>
      </div>
    </div>

    <% if class_type.persisted? %>
      <div class="col-md-6">
        <div class="form-check form-switch">
          <%= form.check_box :is_archived, class: "form-check-input" %>
          <%= form.label :is_archived, "Archive Class Type", class: "form-check-label" %>
        </div>
      </div>
    <% end %>

    <div class="col-12">
      <div class="d-flex gap-2">
        <%= form.submit class: "btn btn-primary" do %>
          <i class="bi bi-save"></i> Save Class Type
        <% end %>
        <%= link_to "Cancel", class_types_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
<% end %>
