<div id="<%= dom_id teacher %>">
  <p>
    <strong>Iban:</strong>
    <%= teacher.IBAN %>
  </p>

  <p>
    <strong>State:</strong>
    <%= teacher.state %>
  </p>

  <p>
    <strong>Is dean:</strong>
    <%= teacher.is_dean %>
  </p>

  <p>
    <strong>Is archived:</strong>
    <%= teacher.is_archived %>
  </p>

  <p>
    <strong>User:</strong>
    <%= teacher.user_id %>
  </p>

</div>
