<div id="<%= dom_id address %>">
  <p>
    <strong>House:</strong>
    <%= address.house %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>NPA:</strong>
    <%= address.npa %>
  </p>

  <% if address.apartment_number.present? %>
    <p>
      <strong>Apartment Number:</strong>
      <%= address.apartment_number %>
    </p>
  <% end %>
</div>
