<%= form_with(model: room, class: "needs-validation", data: { turbo: false }) do |form| %>
  <% if room.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h4>
      <ul class="mb-0">
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-6">
      <div class="form-floating">
        <%= form.text_field :name, class: "form-control", placeholder: "Room Name" %>
        <%= form.label :name, "Room Name" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating">
        <%= form.text_field :building, class: "form-control", placeholder: "Building" %>
        <%= form.label :building, "Building" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating">
        <%= form.number_field :floor, class: "form-control", placeholder: "Floor" %>
        <%= form.label :floor, "Floor" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating">
        <%= form.number_field :capacity, class: "form-control", placeholder: "Capacity" %>
        <%= form.label :capacity, "Capacity" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-check form-switch">
        <%= form.check_box :is_archived, class: "form-check-input" %>
        <%= form.label :is_archived, "Archive Room", class: "form-check-label" %>
      </div>
    </div>

    <div class="col-12">
      <div class="d-flex gap-2">
        <%= form.submit class: "btn btn-primary" do %>
          <i class="bi bi-save"></i> Save Room
        <% end %>
        <%= link_to "Cancel", rooms_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
<% end %>
