<div id="<%= dom_id course %>">
  <p>
    <strong>Start time:</strong>
    <%= course.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= course.end_time %>
  </p>

  <p>
    <strong>Weekday:</strong>
    <%= course.weekday %>
  </p>

  <p>
    <strong>Quarter:</strong>
    <%= course.quarter_id %>
  </p>

  <p>
    <strong>Module:</strong>
    <%= course.theme_id %>
  </p>

  <p>
    <strong>Classroom:</strong>
    <%= course.classroom_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= course.teacher_id %>
  </p>

  <p>
    <strong>Is archived:</strong>
    <%= course.is_archived %>
  </p>

</div>
